<!DOCTYPE html>
<html lang="en">
   <head>
      <title>{{ page_title }}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
         /* Remove the navbar's default margin-bottom and rounded borders */
         .navbar {
         margin-bottom: 0;
         border-radius: 0;
         }
         /* Add a gray background color and some padding to the footer */
         footer {
         background-color: #f2f2f2;
         padding: 25px;
         }
      </style>
   </head>
<body>
  <div class="container">
     <div class="row">
        <div class="container-fluid bg-3 text-center">
          <h1 class="blog-title">dc;it;hub.com</h1>
          <p class="lead blog-description">{{ site_description }}</p>
        </div>
     </div>
