<div class="row">
   <div class="container-fluid bg-3 text-center">
      <div class="col-sm-8">
         <div class="row">
           {% autoescape false %}
           {{ page_body }}
           {% endautoescape %}
         </div>
      </div>
      <div class="col-sm-4 sidenav sidenav">
        {% autoescape false %}
        {{ sidebar_widgets }}
        {% endautoescape %}
      </div>
   </div>
</div>
