<div class="row" style="
 padding-left: 15px;
 padding-right: 15px;">
<nav class="navbar navbar-default">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">DCITHub</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li><a href="news">new(s)</a></li>
            <li><a href="oped">Opinion</a></li>
            <li><a href="culture">Culture</a></li>
            <li><a href="jobs">Jobs</a></li>
            <li><a href="forum">Discussions</a></li>
            <li class="dropdown-toggle">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Directory
                <span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a href="groups">{[Groups,</a></li>
                  <li><a href="projects">Projects,</a></li>
                  <li><a href="members">Members],</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">#Companies</li>
                  <li><a href="startups">[Start-Ups,</a></li>
                  <li><a href="commercial">Commercial,</a></li>
                  <li><a href="federal">Federal]}</a></li>
               </ul>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">us->about()<span class="sr-only">(current)</span></a></li>
            <li><a href="/contact">us->contact()</a></li>
         </ul>
      </div>
      <!--/.nav-collapse -->
   </div>
   <!--/.container-fluid -->
</nav>
</div>
